* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: auto;
}
.aboutHeader .aboutTitle {
  text-align: left;
  padding-left: 40px;
  position: absolute;
  top: 3em;
}
.bioText {
  text-align: left;
  padding-left: 40px;
  position: absolute;
  top: 155px;
}
.aboutHeaderSub {
  text-align: center;
  font-weight: lighter;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.msPaint {
  position: absolute;
  top: 300px;
  left: 450px;
  width: 70em;
}
@media (max-width: 768px) {
  .msPaint {
    width: 50%;
    float: left;
  }
}
article {
  position: absolute;
  top: 850px;
  left: 500px;
}
@media (max-width: 40em) {
  article {
    width: 50%;
  }
}
.bioTextCont {
  text-align: left;
  position: absolute;
  top: 1000px;
  left: 40px;
}
.resumeButton {
  min-width: 7em;
  min-height: 3em;
  position: absolute;
  left: 3em;
  bottom: 7em;
  color: white;
  cursor: pointer;
}
.resumeButton:hover {
  background: #3e92cc;
}
.jsLogo {
  width: 10%;
  padding-bottom: 1000px;
  position: relative;
  -webkit-animation: 2s 1 normal ease-out;
  animation: jslogo 2s 1 normal ease-out;
}
.reactLogo {
  width: 10%;
  padding-left: 10px;
  padding-bottom: 600px;
  position: relative;
  -webkit-animation: 2s 1 normal ease-out;
  animation: reactlogo 2s 1 normal ease-out;
}
@-webkit-keyframes jslogo {
  0% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

@keyframes jslogo {
  0% {
    top: 0px;
    left: -500px;
  }
  100% {
    top: 0px;
    left: 10px;
  }
}
@-webkit-keyframes reactlogo {
  0% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

@keyframes reactlogo {
  0% {
    top: 0px;
    left: -500px;
  }
  100% {
    top: 0px;
    left: 10px;
  }
}
