* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Helvetica", "Arial", sans-serif;
  background: #13293d;
  color: white;
}
nav {
  display: flex;
  min-height: 5vh;
  background-color: #3e92cc;
}
ul {
  background-color: #3e92cc;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}
li {
  background-color: #3e92cc;
  display: inline;
  float: right;
  padding: 19px;
  color: #00171f;
}
.linkER {
  background-color: #3e92cc;
  text-decoration: none;
  color: #f3f8f2;
}

a:hover {
  color: grey;
}
.homeIcon {
  background-color: #3e92cc;
  width: 22px;
}
